body {
  background-color: #0d1117 !important;
  color: white;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
    border-bottom: 1px solid #21262d;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 1.25rem;
}

.menu-link {
  color: #c9d1d9;
}

.menu-link:hover {
  color: white;
}

.btn-primary {
    background-color: transparent;
    color: #58a6ff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #58a6ff;
}

.btn-primary:hover {
    background-color: #58a6ff;
    color: white;
}

.main {
  padding-top: 6rem;
}

.text-left {
  text-align: left;
}

.bg-gray-800 {
  background-color: #0d1117;
  border: 1px solid #30363d;
}

.p-4 {
  padding: 1rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.text-xl {
  font-size: 1.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #30363d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #58a6ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #58a6ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.wallet-item {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
  min-height: 80px;
}

.wallet-item:hover {
  border-color: #58a6ff;
}

.wallet-item img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.wallet-item h4 {
  font-size: 1.25rem;
  font-weight: bold;
}